/*******border box*******/
.border {
    width: 98%;
    height: 96%;
    margin: auto;
    margin-top: 0.6rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: repeating-linear-gradient(255deg, #28476f,#2bd5fe,#b15103,#000,#d73e3b,#1f0cac,#3f72af, #000, #fff, #000);
    background-size: 500% 500%;
    animation: anima 20s infinite;
    border: 0.02rem solid aliceblue;
    border-radius: 1px;
    overflow: hidden;
}


body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    display: inline;
    zoom: 1;
    text-wrap: nowrap;

}

* {
    box-sizing: border-box;
}


.page-icon {
    width: 2rem;
    height: 2rem;
}

@media (max-width: 600px) {

    .border {
        max-height: 95%;
    }
    
    .text13 {
        margin-left: 1.5rem;
        text-align: left;
        font-size: calc(0.6rem - 60%);
        text-decoration: none;
        transition: 1s ease transform;
        margin-top: 1rem;
    
    }

}


@media (max-width: 600px) and (orientation: landscape){

   
    .text13 {
        font-size: calc(0.2rem - 60%); 
    }

    
    .box1 , .box2 , .box3 , .box4 , .box5 , .box6 ,.text12 {

        font-size: 0.7rem;
    }
    
    .pages-link {
    
        text-decoration: none;
        font-size: 0.4rem;
        margin: 0;
        color: #ffffff;
        font-weight: lighter;
        font-family: 'Zen Maru Gothic', serif;
    
    }
}

/**************name****************/
.hidden-text {

    width: 30px;
    height: auto;
    max-height: 2rem;
    max-width: 100%;
    font-size: 1.4rem;
    text-transform: uppercase;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: absolute;
    color: rgb(216, 206, 226);
    transition: width 0.4s;
    font-weight: lighter;
    font-family: 'Zen Maru Gothic', serif;


}

.hidden-text:hover,
.hidden-text:focus {

    width: 97vw;

}

.box1 {


    height: auto;
    max-height: 2rem;
    margin: 1%;
    max-width: 95%;
    margin-bottom: 0;
    margin-right: -2%;
    margin-top: 2rem;

    background: linear-gradient(26deg, #ce236d, #141e13, #0e65d0, #3C0753, #0dbb0d, #13d28f, #030637);
    background-size: 200% 200%;
    -webkit-animation: AnimationName 37s ease-in-out infinite;
    -moz-animation: AnimationName 37s ease infinite;
    -o-animation: AnimationName 37s ease infinite;
    animation: AnimationName 37s ease infinite;


}


.text12 {
    margin: 3rem;
    text-align: left;
    font-size: 1.7rem;
    text-size-adjust: none;
    line-break: calc(1px);
    color: rgb(255, 255, 255);
    overflow: hidden;
    font-weight: lighter;
    font-family: 'Zen Maru Gothic', serif;
    pointer-events: none;
}



.logo {
    filter: invert(100%);
    width: 100%;
    max-width: 30px;
    height: 100%;
    max-height: 40px;


}



/*********about/project area************/

.box3 {
    pointer-events: none;
    width: 5.5rem;
    max-width: 30%;
    height: 50%;
    text-wrap: wrap;

    background-color: #a5942500;
    position: absolute;
    right: 4vw;
    bottom: 3vw;
    overflow: hidden;
}

.text11 {
    text-align: center;
    line-height: 1.1rem;
    font-size: 0.8rem;
    text-size-adjust: none;
    line-break: calc(1px);
    color: bisque;
    font-weight: lighter;
    font-family: 'Zen Maru Gothic', serif;

}



/**********nav/bar**************/
.box2 {
    display: inline;
    width: calc(25% + 2rem);
    height: 30vh;
    margin: 1%;
    background-color: rgba(197, 24, 168, 0);
    margin-top: 2%;

}

.pages-link {
    
    text-decoration: none;
    font-size: 1rem;
    margin: 0;
    color: #ffffff;
    font-weight: lighter;
    font-family: 'Zen Maru Gothic', serif;

}

.link-pages {
 

    list-style: none;
    margin: 0%;
    transition: 1s ease transform;
}

.link-pages:hover {

    transform: scale(0.99);

}



.nav-nav {
    padding-left: 2rem;
    margin: 0%
}

/************projects******************/
.box6 {
    width: 15 rem;
    max-width: 70%;
    height: 35rem;
    max-height: 70%;

    background-color: #00000000;
    position: absolute;
    right: 2vw;
    bottom: 1vw;
    bottom: 3rem;
    margin-left: 4rem;
    font-size: calc(0.9rem - 60%);
    overflow-x: scroll;
    overflow-y: visible;

}

.box6::-webkit-scrollbar {
    display: none;
}


.text14 {
    margin-left: 1.5rem;
    text-align: right;
    font-size: calc(1.3rem - 60%);
    text-decoration: none;
    transition: 1s ease transform;

    margin-bottom: 3rem;
    font-weight: lighter;
    font-family: 'Zen Maru Gothic', serif;


    color: #000000;
}

.text14:hover {

    transform: scale(1.2);

    text-shadow: #626364;
}

.seprate2 {
    position: relative;
    top: 3rem;
    line-height: 0.5rem;
    text-decoration-color: #494f49;
}

.img2 {
    width: 100%;
    max-width: 25px;
    height: 100%;
    max-height: 25px;
    transform: rotate(@-o-keyframes);

    filter: invert();




}

.rot:hover,
.rot:focus {
    transition: ease-in-out transform 10s;
    transform: rotate(3600deg);
}

/***********see*also********/

.box5 {
    width: 15 rem;
    max-width: 100%;
    height: 40rem;
    max-height: 40vh;

    background-color: #c5b33f00;
    position: absolute;
    left: 2vw;
    bottom: 3vw;
    overflow-y: scroll;
    overflow-x: visible;
    position: absolute;
    bottom: 1rem;
    margin-left: 0rem;
    font-size: calc(0.9rem - 60%);


}
.box5::-webkit-scrollbar {
    display: none;
}

.text13 {
    margin-left: 1.5rem;
    text-align: left;
    font-size: calc(0.9rem - 60%);
    text-decoration: none;
    transition: 1s ease transform;
    margin-top: 1rem;

}

.text13:hover {

    transform: scale(0.99);
    text-shadow: #0572df;

}

.seprate1 {
    position: relative;
    top: 3rem;
    line-height: 1rem;
    text-decoration-color: #44c938;
    overflow-x: visible;
}

a {
    color: inherit;
    text-decoration: none;
}

.box5,
.box3,
.box4,
.box6 {
    visibility: hidden;

}

.show {
    visibility: visible;


}



/******************background animation****************************/
@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 76%
    }

    50% {
        background-position: 100% 25%
    }

    100% {
        background-position: 0% 76%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 76%
    }

    50% {
        background-position: 100% 25%
    }

    100% {
        background-position: 0% 76%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 76%
    }

    50% {
        background-position: 100% 25%
    }

    100% {
        background-position: 0% 76%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 76%
    }

    50% {
        background-position: 100% 25%
    }

    100% {
        background-position: 0% 76%
    }
}

@keyframes anima {
    0% {
        background-position: 5% 25%
    }

    15% {
        background-position: 25% 50%
    }

    30% {
        background-position: 50% 75%
    }

    45% {
        background-position: 75% 100%
    }

    60% {
        background-position: 100% 75%
    }

    75% {
        background-position: 75% 50%
    }

    90% {
        background-position: 50% 0%
    }

    105% {
        background-position: 25% 5%
    }

}

/******************preloader*************************/

.mmo {
    width: 1rem;
    height: 1rem;

}